<form class="todo-form" action="/edit/<%= @getid.hashId %>" method="post">

  <a href="/" class="go_home_btn"></a>

  <input type="hidden" name="_method" value="put">
  <input class="new-todo" name="message" placeholder="What message you what left?" autofocus value="<%= @getid.content %>">

  <div class="control-group">

	 <label class="control control--radio">delete in hour
		<input type="radio" name="whenDelete" value="deleteInHour" <%= @getid.whenDelete == 'deleteInHour' ? 'checked' : '' %>/>

		<div class="control__indicator"></div>
	 </label>
	 <label class="control control--radio"> delete after first visited
		<input type="radio"
				 name="whenDelete"
				 value="deleteAfterFirstVisited" <%= @getid.whenDelete == 'deleteAfterFirstVisited' ? 'checked' : '' %>/>

		<div class="control__indicator"></div>
	 </label>
  </div>

  <div class="control-group">
	 <label class="control control--checkbox">active password check
		<input type="checkbox" name="passwordIsActive" <%= @getid.passwordIsActive == 'on' ? 'checked' : '' %>/>
		<div class="control__indicator"></div>
		<input type="text" name="password" class="pass_input" value="<%= @getid.password%>">
	 </label>
  </div>

  <input class='todoapp_create_btn' type="submit" value=""/>
</form>
