<ul class="todo-list">
  <% @all.each do |item| %>

	  <li>
		 <div class="view">
			<a class="message_item" href="message/<%= item.hashId %>">
			  <%=item.content%>
			</a>
			<a class="edit_btn" href="/edit/<%= item.hashId %>"></a>
			<%= item.passwordIsActive %>
			<%= item.password %>
			<a class="destroy" href="/<%= item.hashId %>/delete"></a>
		 </div>
	  </li>
  <%end%>
</ul>