<ul class="todo-list">
  <% @all.each do |item| %>

	  <li>
		 <div class="view">

			<% if item.passwordIsActive != 'on' %>
				<a class="message_item" href="message/<%= item.hashId %>">
				  <%= item.content %>
				</a>
			<% else %>
				<div class="message_item ">

				  <form action="/check-record" method="post">
					 <input type="text" class="pass_set_input" name="inputPassword" placeholder="please put the password"/>
					 <input type="text" name="idRecordItem" value="<%= item.hashId %>" hidden=""/>
					  <span class="blur-me">
							<%= item.fakeContent %>
					  </span>
					 <input class='enter_password_btn' type="submit" value=""/>

				  </form>

				</div>

			<% end %>

			<button class="shared_btn" onclick='window.prompt("Copy to clipboard: Ctrl+C, Enter", document.location.href + "message/<%= item.hashId %>")'></button>
			<a class="edit_btn" href="/edit/<%= item.hashId %>"></a>
			<a class="destroy" href="/<%= item.hashId %>/delete"></a>
		 </div>
	  </li>
  <% end %>
</ul>